{{- if not .Date.IsZero -}}
<span class="post-date" title="{{ .Date }}">{{ .Date | time.Format (default "January 2, 2006" site.Params.date_format)
    }}</span>
{{- end }}

<!-- {{- if (.Param "show_reading_time") -}}
<span class="post-reading-time">{{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}</span>
{{- end }} -->

{{- if (.Param "show_word_count") -}}
<span class="post-word-count">{{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}</span>
{{- end }}

{{- with (partial "author.html" .) }}
<span class="post-author">{{ . }}</span>
{{- end }}
